<nav 
  class="navbar navbar-expand-sm navbar-light bg-{{backgroundColor}}">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a 
                class="nav-link" 
                routerLinkActive="active current" 
                [routerLinkActiveOptions]="{exact:true}"
                routerLink="">
                Home
            </a>
            <a 
              class="nav-link" 
              routerLinkActive="active current" 
              routerLink="/followers"
              [queryParams]="{ page: 1, order: 'newest'}">
              Followers
            </a>
          </div>
        </div>
      </div>
  </nav>